.top-container{
    background-color: #93B1A6;
    height: 710px;
    text-align: center;
    width: 100%;
}

img {
    height: 300px;
    display:block;/*block.inline,inline-block,none*/
    position:relative; /*relative,fixed,absolute,static*/
    margin: 0 auto; /* Center-align images horizontally */
}

.circular--square {
    padding-top: 20px;
    margin: 0 auto;
    height: 100px;
    border-radius: 50%; 
}


.last{
    width: 500px;
    display: inline-block;
    margin-top: 30px;
    
}

.link1:hover {
    color: #06724b;
    cursor: pointer;
}

body{
    margin: 0;
    text-align: center;
}

.middle-container {
    background-color: rgb(255, 255, 255);
    text-align: center; /* Center-align content horizontally */
    font-size: 20px;
    margin: 0;
}



.bottom-container{
    background-color: #93B1A6;
    height: 300px;
    text-align: center;
    width: 100%;
}

#name{
    padding: 10px;
    margin-top: 0;
    font-family: "Charmonman" , cursive;

}

#do{
    padding: 10px;
    margin-top: 0;
    font-family:"Merriweather",serif;
}


table {
    text-align: center;
    margin: 0 auto; /* Center-align tables horizontally */
  
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #5C8374;
    border-width: 5px;
    width: 8%;
    margin: 40px auto; /* Add margin to create space between HR and titles */
}

h1 {
    color: #06724b;
    margin-top: 40x; /* Add margin to create space between h1 and HR */
    font-size: 50px;
    font-weight: bold;
    font-family: "Charmonman" , cursive;




}

h2 {
    color: #06724b;
    margin-top: 40px; /* Add margin to create space between h2 and HR */
    font-size: 40px;
    font-weight: bold;
    font-family: "Charmonman" , cursive;


}

p {
    color: #1d6851;
    font-size: 20px;
    font-family:"Merriweather",serif;



}

.lan {
    height: 100px;
    display: block;
    margin: 0 auto; /* Center-align images horizontally */
}

.lan1{
    height: 200px;
    width: 200px;
    display:inline-block;
    padding: 50px;
    margin: 50px auto; /* Center-align images horizontally */
    border-radius: 50%; 

}

.lan:hover{
    transform: scale(1.2); /* Increase the image size on hover */
    cursor: pointer; /* Change cursor to indicate interactivity */
}

form{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display:block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2a2525;
    border-radius: 40px;
}

input[type="submit"] {
    background-color: #06724b;
    color: white;
    border:#93B1A6;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #477878;
}